<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<input type="text" id="gene_query">
<p id="gene_result"></p>
</body>
<script>
    $(document).ready(function () {
        $("#gene_query").on("input", function (e) {
            $("#gene_result").empty();
            $.ajax({
                method: "get",
                url: "http://127.0.0.1:4242/query",
                data: {query: $("#gene_query").val()},
                success: function (res) {
                    $("#gene_result").html(res);
                    console.log(res)
                }
            });
        });
    });
</script>
