<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<input type="text" id="gene_query">
<p id="failed"></p>
<p id="chromosome"></p>
<p id="position"></p>
<p id="rsid"></p>
<p id="ref"></p>
<p id="alt"></p>
<p id="info"></p>
</body>
<script>
    $(document).ready(function () {
        $("#gene_query").on("input", function (e) {
            $("#gene_result").empty();
            $.ajax({
                method: "get",
                url: "http://127.0.0.1:4242/query",
                data: {query: $("#gene_query").val()},
                success: function (res) {
                    $("#failed").text("Variant found:");
                    $("#chromosome").text("CHROMOSOME: " + res.chromosome);
                    $("#position").text("POSITION: " + res.position);
                    $("#rsid").text("RSID: " + res.rsid);
                    $("#ref").text("REF: " + res.ref);
                    $("#alt").text("ALT: " + res.alt);
                    $("#info").text("INFO: " + res.info);
                    console.log(res)
                },
                error: function (res) {
                    $("#failed").text("Variant not found");
                    $("#chromosome").text("");
                    $("#position").text("");
                    $("#rsid").text("");
                    $("#ref").text("");
                    $("#alt").text("");
                    $("#info").text("");
                }
            });
        });
    });
</script>
